@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F5EFE6;
    color: #333333; 
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #D35400;
    border-color: #D35400;
}

.btn-primary:hover {
    background-color: #A84300;
    border-color: #A84300;
}

h1, h2, h3, h4, h5, h6 {
    color: #D35400;
}

.rounded-corner {
    border-radius: 8px;
}

.shadow-soft {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}