.navbar {
    background-color: #D35400;
    font-weight: bold;
}

::deep .nav-link {
        color: #FFFFFF;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
}

::deep .nav-link.active {
    background-color: rgba(255,255,255,0.1);
    color: #FFFFFF;
}

::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.05);
    color: #FFFFFF;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.dropdown-menu{
    background-color: #F5EFE6;
}

.dropdown-item{
    color: #333333;
}

::deep .dropdown-item.active{
    background-color: #ef7e32;
    color: #333333;
}